<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="15">
<title>Cournal</title>
<link href="/templates/default/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="head">
    	<a href="http://www.cournal-project.org/">
        <div id="hicon">
        </div></a>
        <div id="headline">
        	<div id="hl1">
	            Cournal - Administration
            </div>
        	<div id="hl2">
	            Collaborative note taking and journal application using a stylus.
            </div>
        </div>
        <div class="clear"></div>
        <div id="menu">
            <a href="/status.html">
                <div class="menuitem">
                    status
                </div>
            </a>
            <a href="/documents.html">
                <div class="menuitem">
                    documents
                </div>
            </a>
            <!--<a href="imprint.html">
                <div class="menuitem menuitemright">
                    Imprint
                </div>
            </a>-->
        </div>
        <div class="clear"></div>
        <div id="container">
            <div id="right">
                <h1>Get Cournal</h1>
                <a href="https://github.com/Flyser/cournal/zipball/master">Download .zip file</a><br />
                <a href="https://github.com/Flyser/cournal/tarball/master">Download .tar.gz file</a><br /><br />
                <a href="https://aur.archlinux.org/packages.php?ID=61201">Arch Linux User Repository</a>
                
                <h1>Visit us</h1>
                <a href="https://github.com/Flyser/cournal">Cournal at GitHub</a><br />
                <a href="https://sourceforge.net/p/cournal">Cournal at Sourceforge</a><br />
                <a href="https://ohloh.net/p/cournal">Cournal at Ohloh</a><br />
                <a href="https://gtk-apps.org/content/show.php/Cournal?content=152084">Cournal at GTK-Apps</a>
                
                <h1>Links</h1>
                <a href="https://lists.sorceforge.net/lists/listinfo/cournal-discuss">Mailing list</a>
                
            </div>
            <div id="content">
